:host {

  display: block;
  min-height: 41px;
  position: relative;

  &.field-bottom-margin {
    margin-bottom: 1.25em;
  }

  ::ng-deep fs-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
}

.field-message {
  font-size: 75%;
  margin-top: 3px;
  color: rgba(0, 0, 0, 0.54);
}
