:host {
  display: block;
  position: relative;

  .field-label {
    z-index: 1;
    position: relative;
    top: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-top: -9px;
    height: 14px;

    &:empty {
      visibility: hidden;
    }
  }

  .field-wrap {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 15px;
    box-sizing: border-box;
  }

  &.outline {

    &.focused {
      .field-wrap  {
        .outline-overlay {
          border-width: 2px;
        }
      }
    }
      
    .field-label {
      padding: 0 10px;

      ::ng-deep fs-label { 
        background: #fff;
        padding: 0 6px;
        display: table;
      }
    }

    .field-wrap {
      padding: 15px 16px;

      .outline-overlay {      
        border: 1px solid var(--mdc-outlined-text-field-outline-color);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border-width: 1px;
        border-radius: 5px;
      }
    }

    &.hoverable:not(.focused):not(.disabled):hover {
      .outline-overlay {
        border-color: #212121 !important;
      }
    }
  }
}

.field-message {
  font-size: var(--mat-form-field-subscript-text-size, var(--mat-app-body-small-size));
  color: rgba(0, 0, 0, 0.54);
}

