
<p>
    <fs-label>Standalong Label</fs-label>
</p>

<div fxLayout="row" fxLayoutAlign="flex-start flex-start">
  <mat-form-field>
    <input matInput placeholder="Material Form Input Field" value="value">
  </mat-form-field>


  <fs-label-field>
    <fs-label>FsLabel Short Content</fs-label>
    Content
  </fs-label-field>

  <fs-label-field>
    <fs-label>FsLabel Long Content</fs-label>
    Aliquam mollis vitae enim vitae posuere. Nam consectetur ex ut dignissim dapibus. Vestibulum pellentesque, nunc eget tincidunt semper, nibh lacus rutrum orci, at tincidunt elit dolor sit amet eros. Fusce porttitor enim non pharetra commodo. Etiam scelerisque pretium nunc vitae fringilla. Suspendisse potenti. Cras gravida mauris eu odio condimentum convallis.
  </fs-label-field>

  <fs-label-field>
    <fs-label>FsLabel Long Long Long Long Long Long Long Label</fs-label>
    <div fxLayout="row wrap" fxLayoutGap="5px">
      <div class="pill">Pill A</div>
      <div class="pill">Pill B</div>
      <div class="pill">Pill C</div>
      <div class="pill">Pill D</div>
      <div class="pill">Pill E</div>
      <div class="pill">Pill F</div>
    </div>
  </fs-label-field>
</div>