<p>
  <fs-label>
    Standalong Label
  </fs-label>
  Content
</p>
<div class="fs-row.wrap.gap-lg.align-start">
  <mat-form-field>
    <mat-label>
      Material Form Input Field
    </mat-label>
    <input
      matInput
      value="value">
    <mat-hint>
      Hint!
    </mat-hint>
  </mat-form-field>
  <fs-label-field>
    <fs-label>
      FsLabel Content
    </fs-label>
    <div class="content-custom">
      Content
    </div>
    <fs-label-message>
      Message area
    </fs-label-message>
  </fs-label-field>
  <fs-label-field>
    <fs-label>
      FsLabel Long Long Long Long Long Long Long Label
    </fs-label>
    <div class="fs-row.wrap.gap-xs pills">
      <div class="pill">
        Pill A
      </div>
      <div class="pill">
        Pill B
      </div>
    </div>
    <fs-label-message>
      Message area
    </fs-label-message>
  </fs-label-field>
  <fs-label-field [appearance]="'outline'">
    <fs-label>
      FsLabel Long Long Long Long Long Long Long Label
    </fs-label>
    <div class="fs-row.wrap.gap-xs pills">
      <div class="pill">
        Pill A
      </div>
      <div class="pill">
        Pill B
      </div>
    </div>
    <fs-label-message>
      Message area
    </fs-label-message>
  </fs-label-field>
  <fs-label-field [appearance]="'outline'">
    <fs-label>
      Label
    </fs-label>
    Text
    <fs-label-message>
      Message area
    </fs-label-message>
  </fs-label-field>
  <fs-label-field
      [hoverable]="true"
      [appearance]="'outline'">
    <fs-label>
      Hoverable
    </fs-label>
    Text
    <fs-label-message>
      Message area
    </fs-label-message>
  </fs-label-field>
  <fs-label-field
      [focused]="true"
      [appearance]="'outline'">
    <fs-label>
      Focused
    </fs-label>
    Text
    <fs-label-message>
      Message area
    </fs-label-message>
  </fs-label-field>
  <fs-label-field
      [focused]="true"
      [appearance]="'outline'">
    Text
    <fs-label-message>
      Message area
    </fs-label-message>
  </fs-label-field>
</div>
<br>
<br>
<br>
<div class="fs-row.wrap.gap-lg.align-start">
  <fs-label-field [padless]="true">
    <fs-label>
      Padless
    </fs-label>
    Padless content
  </fs-label-field>
</div>
<br>
<br>
<br>
<fs-label-field>
  <fs-label>
    FsLabel Long Content
  </fs-label>
  Aliquam mollis vitae enim vitae posuere. Nam consectetur ex ut dignissim dapibus. Vestibulum pellentesque, nunc eget tincidunt semper, nibh lacus rutrum orci, at tincidunt elit dolor sit amet eros. Fusce porttitor enim non pharetra commodo. Etiam scelerisque pretium nunc vitae fringilla. Suspendisse potenti. Cras gravida mauris eu odio condimentum convallis.
  <fs-label-message>
    Aliquam mollis vitae enim vitae posuere. Nam consectetur ex ut dignissim dapibus. Vestibulum pellentesque, nunc eget tincidunt semper, nibh lacus rutrum orci, at tincidunt elit dolor sit amet eros. Fusce porttitor enim non pharetra commodo. Etiam scelerisque pretium nunc vitae fringilla. Suspendisse potenti. Cras gravida mauris eu odio condimentum convallis.
  </fs-label-message>
</fs-label-field>