
<p>
    <fs-label>Standalong Label</fs-label>
    Content
</p>

<div fxLayout="row" fxLayoutAlign="flex-start flex-start" fxLayoutGap="25px">
  <mat-form-field>
    <input matInput placeholder="Material Form Input Field" value="value">
    <mat-hint>Hint!</mat-hint>
  </mat-form-field>

  <fs-label-field [labelMargin]="false">
    <fs-label>FsLabel Short Content</fs-label>

    <mat-form-field
      class="form-field-padless"
      floatLabel="never">
      <input matInput placeholder="Padless Form Field">
    </mat-form-field>

    <fs-label-message>
      Message area
    </fs-label-message>
  </fs-label-field>

  <mat-form-field>
    <mat-select
      [(ngModel)]="select"
      name="select"
      placeholder="Select">
      <mat-option value="bob">
        Bob
      </mat-option>
      <mat-option value="sam">
        Sam
    </mat-option>
    </mat-select>
  </mat-form-field>

  <fs-label-field>
    <fs-label>FsLabel Content</fs-label>
    <div class="content-custom">Content </div>
    <fs-label-message>
      Message area
    </fs-label-message>
  </fs-label-field>

  <fs-label-field>
    <fs-label>FsLabel Long Long Long Long Long Long Long Label</fs-label>
    <div fxLayout="row wrap" fxLayoutGap="5px">
      <div class="pill">Pill A</div>
      <div class="pill">Pill B</div>
      <div class="pill">Pill C</div>
      <div class="pill">Pill D</div>
    </div>
    <fs-label-message>
      Message area
    </fs-label-message>
  </fs-label-field>
</div>

<br><br><br>

<div fxLayout="row" fxLayoutAlign="flex-start flex-start" fxLayoutGap="25px">
  <fs-label-field [topMargin]="false">
    No top margin and label
    <fs-label-message>
      Message area
    </fs-label-message>
  </fs-label-field>

  <fs-label-field [bottomMargin]="false">
    <fs-label>Label</fs-label>
    No bottom margin
  </fs-label-field>
</div>



<br><br><br>


<fs-label-field>
  <fs-label>FsLabel Long Content</fs-label>
  Aliquam mollis vitae enim vitae posuere. Nam consectetur ex ut dignissim dapibus. Vestibulum pellentesque, nunc eget tincidunt semper, nibh lacus rutrum orci, at tincidunt elit dolor sit amet eros. Fusce porttitor enim non pharetra commodo. Etiam scelerisque pretium nunc vitae fringilla. Suspendisse potenti. Cras gravida mauris eu odio condimentum convallis.
  <fs-label-message>
    Message area
  </fs-label-message>
</fs-label-field>
