:host {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  transition: none;
  display: flex;
  color: rgba(0,0,0,.54);
  line-height: 16.875px;
  transform: scale(0.75)  perspective(1em)  translateZ(0.00106px);
}
