:host {
  transform: scaleX(1.0) scaleY(1.03) translateZ(.001px) perspective(1px);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  transition: none;
  display: flex;
  color: rgba(0,0,0,.54);
  font-size: .75em;
}